/* Home Page */
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    overflow-y: auto;
        }

.content {
    margin: 0 auto;
    overflow-y: hidden;
}
.hero-section {
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 100px 0;
    position: relative;
    height: 100vh;
}
.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hero-section .content {
    position: relative;
    z-index: 1;
}

/* Custom Header Background Color */
.custom-header {
    background-color: #002060; /* Dark blue */
    color: white;
}

.hero-text {
    padding-top: 100px;
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Login Button Styling */
.login-btn {
    background-color: #fff; /* White button background */
    color: #002060; /* Dark blue text */
    border: none;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover {
    background-color:orange; /* Gold on hover */
    color: #002060; /* Dark blue text */
    text-decoration: none;
}

.welcome-section {
    background: url('../images/bg1.jpg') no-repeat center center / cover;
    height: 600px;
    position: relative;
}
.welcome-section .overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
}
.welcome-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
welcome-text {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 20px;
}
.card-section {
    padding: 50px 0;
}
.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.student-handbook {
    text-align: center;
    margin-top: 50px;
}

    /* Styling the Login Button */
    .login-btn {
        background-color: #fff; /* Gold */
        color: #002060; /* Dark blue for contrast */
        border: none;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 6px;
        padding: 5px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;

    }

    .login-btn:hover {
        background-color: #FFD700; /* Slightly darker gold */
        color: #002060; /* White text on hover */
        text-decoration: none;
    }

    .btn-primary {
        background-color: #002060;
        border-color: #002060;
        color: white;
        transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }

    .btn-primary:hover {
        background-color: orange;
        border-color: orange;
        color: white;
    }

/* Home Page - Responsive */
@media screen and (max-width: 768px) {
    .hero-text {
        height: auto;
        font-size: 3em;
    }
    .welcome-text {
        font-size: 3em;
    }
    .card-section {
        padding: 20px 0;
    }
    .card {
        margin-bottom: 20px;
    }
    .student-handbook {
        margin-top: 20px;
    }
}